@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a,button{
    text-decoration: none;
    border: none;
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
}
body{
    min-height: 100dvh;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.container{
    position: relative;
    max-width: 100%;
}
.main{
    height: 100%;
}
.header{
    position: absolute;
    display: flex;
    gap: 3rem;
    top: 0;
    left: 0;
    padding: 4rem;
}
.navbar{
    display: flex;
    gap: 2rem;
}
.nav__link{
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: var(--White);
}
.nav__li:hover{
    height: 1.5rem;
    border-bottom: 2px solid var(--White);
}
.hero{
    height: 66.5dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hero__pic{
    height: 100%;
    width: 59%;
    z-index: -1;
}
.hero__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero__right{
    height: 100%;
    width: 41%;
    display: flex;
    flex-direction: column;
}
.hero__content{
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    flex-grow: 1;
}
.hero__nav__btns{
    align-self: flex-start;
}
.hero__title{
    font-size: 2.5rem;
    color: var(--Black);
}
.hero__paragraph{
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    color: var(--Dark-Gray);
}
.hero__btn{
    display: flex;
    gap: 2rem;
    color: var(--Black);
    cursor: pointer;
}
.hero__btn a{
    text-transform: uppercase;
    color: var(--Black);
    font-size: 15px;
    letter-spacing: 12px;
    font-weight: 600;
}
.hero__btn:hover > *{
    color: var(--Dark-Gray);
}
.hero__nav__btns{
    display: flex;
}
.hero__nav__btn{
    width: 80px;
    height: 80px;
    background-color: var(--Black);
}
.hero__nav__btn:hover{
    background-color: var(--Very-Dark-Gray);
}
/* Down */
.down{
    height: 33.5dvh;
    width: 100%;
    display: flex;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0rem 2.65rem;
    width: 42%;
}
.about__title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.about__paragraph{
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    color: var(--Dark-Gray);
}
.down__left-pic, .down__right-pic{
    height: 100%;
    width: 29%;
}
.down__img{
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
@keyframes fadeIn {
    from{
        opacity: 0.2;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeInText {
    from{
        transform: translateX(30%);
    }
    to{
        transform: translateX(0%);
    }
}
.fade{
    animation: fadeIn 0.5s linear;
}
.fadeText{
    animation: fadeInText 0.5s linear;
}
@media screen and (min-width: 300px) and (max-width: 784px){
    .hero__content{
        padding-inline: 1.5rem;
    }
    .hero__title{
        font-size: 2.25rem;
    }
    .hero__btn a{
        font-size: 16px;
    }
    .about__title{
        font-size: 15px;
        letter-spacing: 3px;
    }
    .about__paragraph{
        font-size: 15px;
    }
}
@media screen and (min-width: 785px) and (max-width: 1109px){
    .hero__content{
        padding-inline: 1.5rem;
    }
    .hero__title{
        font-size: 2.25rem;
    }
    .hero__btn a{
        font-size: 16px;
    }
    .about__title{
        font-size: 15px;
        letter-spacing: 3px;
    }
    .about__paragraph{
        font-size: 14px;
    }
}
@media screen and (min-width: 1110px) and (max-width: 1919px){

}
@media screen and (min-width: 1920px) {
    .hero__title{
        font-size: 5.75rem;
    }
    .hero__paragraph{
        font-size: 20px;
    }
    .hero__btn a{
        font-size: 20px;
    }
    .about__title{
        font-size: 2rem;
    }
    .about__paragraph{
        font-size: 20px;
    }
}