@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a,button{
    text-decoration: none;
    border: none;
    cursor: pointer;
}
body{
    min-height: 100dvh;
    font-family: 'League Spartan', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1440px;
}